* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* 100% der Viewport-Höhe */
}

header, footer {
    background-color: #f8f8f8;
    padding: 20px; /* Pixel-Wert für das Padding */
    text-align: center;
}

header {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    padding: 20px; /* Pixel-Wert für das Padding */
}

footer {
    flex-shrink: 0;
}

/* alt*/
a {
    text-decoration: none;
}

.content {
    width: 1920px;
    height: auto;
    overflow: hidden;
    margin: 0 auto; 
}