body {
    font-family: "Lato", sans-serif;
    line-height: 1.6;
}
h1,
h2,
h3,
h4 {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px;
}
p {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    margin-bottom: 15px;
}
.italic {
    font-family: "Lato", sans-serif;
    font-style: italic;
    margin-bottom: 15px;
}

.custom-margin {
    margin-bottom: 30px;
}

.logo {
    width: 150px;
    height: auto;
}

.dish{
    padding: 0 48px;
    box-shadow: -4px 4px 8px 0 rgba(0, 0, 0, 0.2)
}